In [1]:
student1 = "Max"
student2 = "Monika"
student3 = "Erik"
student4 = "Franziska"

In [2]:
students = ["Max", "Monika", "Erik", "Franziska"]

In [3]:
print(students)

['Max', 'Monika', 'Erik', 'Franziska']

In [4]:
marks = [4,3,2,1]

In [5]:
print(student1)

Max

In [7]:
print(students[0])

Max

In [8]:
print(students[2])

Erik

In [9]:
print(students[0] + " & " + students[3])

Max & Franziska

In [10]:
print(len(students))

4

In [11]:
students.append("Moritz")

In [12]:
print(len(students))

5

In [18]:
marks.append(2)

In [20]:
print(len(marks))

8

In [15]:
print((marks[0] + marks[1] + marks[2] + marks[3] + marks[4]) / len(marks))

2.4

In [22]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptuno", "Pluto"]
planets.pop()
print(planets)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptuno']

In [24]:
planets = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptuno", "Pluto"]
p = planets.pop()
print(p)
p2 = planets.pop()
print(p2)
print(planets)

Pluto
Neptuno
['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus']